<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/fav08.svg')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/styles.css', 98) %}
	{% do assets.addCss('theme://css/fontes.css', 98) %}
    {% do assets.addCss('theme://css/tableau2.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js', 100) %}
     {% do assets.addJs('theme://js/homescreen.js', 100) %}
    {% do assets.addJs('theme://js/script.js', 100) %}
    {% do assets.addJs('theme://js/slideshow.js', 100) %}
    {% do assets.addJs('theme://js/sentences.js', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {{ assets.js('bottom') }}
{% endblock %}

</head>

<body>

{% block header %}
		
    <header>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
    </header>
{% endblock %}

{% block body %}
        <main>
        {% block content %}{% endblock %}
        <div id="home-screen"></div>
        </main>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

</body>
</html>
