
    <footer>
        <div class="footer-block">
            <p>Bye Bye Binary (BBB) est une collective franco-belge, une expérimentation pédagogique, une communauté, un atelier de création typo·graphique variable, un réseau, une alliance. <br/>Contact : <a href="mailto:touls@byebyebinary.space">touls@byebyebinary.space</a></p>
            <p><a  class="footer-link" id="soutiens" href="/a-propos#soutiens">Conditions matérielles d’existence de cette typothèque</a></p>
            <p><a href="https://www.instagram.com/bye.byebinary?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a></p>
            <p><a href="https://www.byebyebinary.space" target="_blank">Site web Bye Bye Binary</a></p> 
 
        </div>
        <div class="footer-block">
            <p><a class="footer-link" id="proposer" href="/quni#proposer/">Pour nous proposer vos fontes, veuillez suivre ce guide</a></p>
            <p><a href="https://typo-inclusive.net/" target="_blank">Articles, Inventaires & Catalogue des usages</a></p> 
        </div>
        <div class="footer-block">
            <div>
                <p class="footer-underline">Contenus du site</p>
                <p>La collective Bye Bye Binary</p>
            </div>
            <div>
                <p class="footer-underline">Développement</p>
                <p>Amélie Dumont, Eugénie Bidaut, Laura Conant & Ludi Loiseau. Renfort d’Antoine Gelgon et QUNIfieur par Thomas Bris</p>
            </div>
            <div>
                <p class="footer-underline">Fonte utilisée pour l’interface</p>
                <p>DINdong, Clara Sambot.</p>
            </div>
        </div>

    </footer>