
{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
    
            <li class="{{ current_page|e }}">
                <a href="{{ p.url|e }}">
                    {{ p.menu|e }}
                </a>
            </li>
            
    {% endfor %}
{% endmacro %}

<ul class="main-nav nav_desktop">
    {% if config.theme.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
            <li class="{{ current_page|e }}">
                <a href="{{ page.url|e }}">
                    {{ page.menu|e }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url|e }}">
                {{ mitem.text|e }}
            </a>
        </li>
    {% endfor %}
</ul>

<details class="nav_mobile">
    <summary>
        <p>Menu</p>
    </summary>
    <ul>
        {% if config.theme.dropdown.enabled %}
            {{ _self.loop(pages) }}
        {% else %}
            {% for page in pages.children.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
                <li class="{{ current_page|e }}">
                    <a href="{{ page.url|e }}">
                        {{ page.menu|e }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.url|e }}">
                    {{ mitem.text|e }}
                </a>
            </li>
        {% endfor %}
    </ul>
</details>

<div id="nuage-nav">
    <button>
        <img src="../../../../assets/nuage-seul.svg"/>
    </button>
</div>

<div class="buttons">
    <button id="language">
       <svg height="50" width="50" xmlns="http://www.w3.org/2000/svg">
            <circle r="23" cx="24" cy="24" stroke="white" stroke-width="1" fill="black" />
        </svg>
        <p>EN</p>
    </button>

<div class="dark-mode-buttons">
    <button id="toggle-dark">
     <svg height="50" width="50" xmlns="http://www.w3.org/2000/svg">
            <circle r="23" cx="24" cy="24" stroke="white" stroke-width="1" fill="black" />
        </svg>
        <img id="toggle-light" src="../../../../assets/button.svg"/>
    </button>
</div>
</div>
