/*

@font-face {
    font-family: "Adelphe Floréal Bold";
    src: url("fonts/adelphe/Adelphe-FlorealBold.woff"),
         url("fonts/adelphe/Adelphe-FlorealBold.woff2");    
     font-weight: 500;
}

@font-face {
    font-family: "Adelphe Floréal Bold Italic";
    src: url("fonts/adelphe/Adelphe-FlorealBoldItalic.woff"),
         url("fonts/adelphe/Adelphe-FlorealBoldItalic.woff2");    
    font-weight: 500;
}

@font-face {
    font-family: "Adelphe Floréal Italic";
    src: url("fonts/adelphe/Adelphe-FlorealItalic.woff"),
         url("fonts/adelphe/Adelphe-FlorealItalic.woff2");   
    font-weight: 500; 
}

@font-face {
    font-family: "Adelphe Floréal Regular";
    src: url("fonts/adelphe/Adelphe-FlorealRegular.woff"),
         url("fonts/adelphe/Adelphe-FlorealRegular.woff2"); 
    font-weight: normal;   
}

@font-face {
    font-family: "Adelphe Floréal SemiBold";
    src: url("fonts/adelphe/Adelphe-FlorealSemiBold.woff"),
         url("fonts/adelphe/Adelphe-FlorealSemiBold.woff2");    
    font-weight: 500;
}

@font-face {
    font-family: "Adelphe Floréal SemiBold Italic";
    src: url("fonts/adelphe/Adelphe-FlorealSemiBoldItalic.woff"),
         url("fonts/adelphe/Adelphe-FlorealSemiBoldItalic.woff2");  
    font-weight: 500;  
}

@font-face {
    font-family: "Adelphe Fructidor Bold";
    src: url("fonts/adelphe/Adelphe-FructidorBold.woff"),
         url("fonts/adelphe/Adelphe-FructidorBold.woff2"); 
    font-weight: 500;   
  }

@font-face {
    font-family: "Adelphe Fructidor Bold Italic";
    src: url("fonts/adelphe/Adelphe-FructidorBoldItalic.woff"),
         url("fonts/adelphe/Adelphe-FructidorBoldItalic.woff2");  
    font-weight: 500;  
  }

@font-face {
    font-family: "Adelphe Fructidor Italic";
    src: url("fonts/adelphe/Adelphe-FructidorItalic.woff"),
         url("fonts/adelphe/Adelphe-FructidorItalic.woff2");    
    font-weight: 500;  
}

  @font-face {
    font-family: "Adelphe Fructidor Regular";
    src: url("fonts/adelphe/Adelphe-FructidorRegular.woff"),
         url("fonts/adelphe/Adelphe-FructidorRegular.woff2");
    font-weight: 500;  
}

@font-face {
    font-family: "Adelphe Fructidor SemiBold";
    src: url("fonts/adelphe/Adelphe-FructidorSemiBold.woff"),
         url("fonts/adelphe/Adelphe-FructidorSemiBold.woff2");  
    font-weight: 500;    
}

@font-face {
    font-family: "Adelphe Fructidor SemiBold Italic";
    src: url("fonts/adelphe/Adelphe-FructidorSemiBoldItalic.woff"),
         url("fonts/adelphe/Adelphe-FructidorSemiBoldItalic.woff2");   
    font-weight: 500;   
}

@font-face {
    font-family: "Adelphe Germinal Bold";
    src: url("fonts/adelphe/Adelphe-GerminalBold.woff"),
         url("fonts/adelphe/Adelphe-GerminalBold.woff2");   
    font-weight: 500;   
}

@font-face {
    font-family: "Adelphe Germinal Bold Italic";
    src: url("fonts/adelphe/Adelphe-GerminalBoldItalic.woff"),
         url("fonts/adelphe/Adelphe-GerminalBoldItalic.woff2");    
}

@font-face {
    font-family: "Adelphe Germinal Italic";
    src: url("fonts/adelphe/Adelphe-GerminalItalic.woff"),
         url("fonts/adelphe/Adelphe-GerminalItalic.woff2");    
}

@font-face {
    font-family: "Adelphe Germinal Regular";
    src: url("fonts/adelphe/Adelphe-GerminalRegular.woff"),
         url("fonts/adelphe/Adelphe-GerminalRegular.woff2");    
}

@font-face {
    font-family: "Adelphe Germinal SemiBold";
    src: url("fonts/adelphe/Adelphe-GerminalSemiBold.woff"),
         url("fonts/adelphe/Adelphe-GerminalSemiBold.woff2");    
}

@font-face {
    font-family: "Adelphe Germinal SemiBold Italic";
    src: url("fonts/adelphe/Adelphe-GerminalSemiBoldItalic.woff"),
         url("fonts/adelphe/Adelphe-GerminalSemiBoldItalic.woff2");    
}




@font-face {
     font-family: "Amiamie Normal Regular";
     src: url("fonts/amiamie/Amiamie-Regular.woff"),
          url("fonts/amiamie/Amiamie-Regular.woff2");    
     font-weight: normal;
 } 

 @font-face {
     font-family: "Amiamie Normal Italic";
     src: url("fonts/amiamie/Amiamie-Italic.woff"),
          url("fonts/amiamie/Amiamie-Italic.woff2");    
 } 

 @font-face {
     font-family: "Amiamie Normal Black";
     src: url("fonts/amiamie/Amiamie-Black.woff"),
          url("fonts/amiamie/Amiamie-Black.woff2");    
 } 

 @font-face {
     font-family: "Amiamie Normal Black Italic";
     src: url("fonts/amiamie/Amiamie-BlackItalic.woff"),
          url("fonts/amiamie/Amiamie-BlackItalic.woff2");    
 } 

 @font-face {
     font-family: "Amiamie Rounded Regular";
     src: url("fonts/amiamie/Amiamie-RegularRound.woff"),
          url("fonts/amiamie/Amiamie-RegularRound.woff2");  
     font-weight: normal;   
 } 

 @font-face {
     font-family: "Amiamie Rounded Italic";
     src: url("fonts/amiamie/Amiamie-ItalicRound.woff"),
          url("fonts/amiamie/Amiamie-ItalicRound.woff2");    
 } 

 @font-face {
     font-family: "Amiamie Rounded Black";
     src: url("fonts/amiamie/Amiamie-BlackRound.woff"),
          url("fonts/amiamie/Amiamie-BlackRound.woff2");    
 } 

 @font-face {
     font-family: "Amiamie Rounded Black Italic";
     src: url("fonts/amiamie/Amiamie-BlackItalicRound.woff"),
          url("fonts/amiamie/Amiamie-BlackItalicRound.woff2");    
 } 




@font-face {
    font-family: "Baskervvol Base";
    src: url("fonts/baskervvol/BBBBaskervvol-Base.woff"),
         url("fonts/baskervvol/BBBBaskervvol-Base.woff2");    
} 

@font-face {
    font-family: "Baskervvol Fondue";
    src: url("fonts/baskervvol/BBBBaskervvol-Fondue.woff"),
         url("fonts/baskervvol/BBBBaskervvol-Fondue.woff2");  
    font-weight: normal;   
} 



@font-face {
     font-family: "BBB Poppins TN Regular";
     src: url("fonts/bb-poppins/BBBPoppinsTN-TextRegular.woff"),
          url("fonts/bb-poppins/BBBPoppinsTN-TextRegular.woff2");    
     font-weight: normal; 
 } 

 @font-face {
     font-family: "BBB Poppins TN Italic";
     src: url("fonts/bb-poppins/BBBPoppinsTN-TextRegularItalic.woff"),
          url("fonts/bb-poppins/BBBPoppinsTN-TextRegularItalic.woff2");    
 } 

 @font-face {
     font-family: "BBB Poppins TN Bold";
     src: url("fonts/bb-poppins/BBBPoppinsTN-TextBold.woff"),
          url("fonts/bb-poppins/BBBPoppinsTN-TextBold.woff2");    
 } 

 @font-face {
     font-family: "BBB Poppins TN Bold Italic";
     src: url("fonts/bb-poppins/BBBPoppinsTN-TextBoldItalic.woff"),
          url("fonts/bb-poppins/BBBPoppinsTN-TextBoldItalic.woff2");    
 } 




@font-face {
     font-family: "Crozet Regular";
     src: url("fonts/crozet/Crozet-Regular.woff"),
          url("fonts/crozet/Crozet-Regular.woff2");    
 } 




@font-face {
     font-family: "DINdong";
     src: url("fonts/dindong/DINdong.woff"),
          url("fonts/dindong/DINdong.woff2");    
 }


@font-face {
    font-family: "Homoneta Italic";
    src: url("fonts/homoneta/Homoneta-Italic.woff"),
         url("fonts/homoneta/Homoneta-Italic.woff2");    
} 

@font-face {
    font-family: "Homoneta Regular";
    src: url("fonts/homoneta/Homoneta-Regular.woff"),
         url("fonts/homoneta/Homoneta-Regular.woff2");    
}


@font-face {
     font-family: "Roberte Regular";
     src: url("fonts/roberte/Roberte-Regular.woff"),
          url("fonts/roberte/Roberte-Regular.woff2");    
 } 

 */