* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

input,
textarea,
button,
select,
details,
summary,
a {
    -webkit-tap-highlight-color: transparent;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background: #ffffff;
    border: 0.5px solid black;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    border: 1px solid white;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
    border: 1px solid white;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: "dindong";
}

body a {
    color: black;
}

.clockwork-badge {
    display: none !important;
}

::-moz-selection {
    /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: #f700ff;
}

::selection {
    color: rgb(255, 255, 255);
    background: #f700ff;
}

[contenteditable] {
    outline: 0px solid transparent;
}

/* DARK-MODE */

body.dark-mode {
    color: white;
    background-color: black;
}

body.dark-mode a {
    color: white;
}

body.dark-mode .fonte-info {
    border-top: 1px solid white;
}

body.dark-mode .fonte-texte {
    border-top: 1px solid white;
}

body.dark-mode #sommaire-nav {
    background: linear-gradient(to right, #000000, rgba(0, 255, 59, 1));
}

body.dark-mode #sommaire-nav li {
    border-color: white;
}

body.dark-mode .progress a{
    color:#a52eff;
}

body.dark-mode #sommaire-nav ul ul .progress {
    border-right: none;
}

body.dark-mode details {
    border-color: white;
}

body.dark-mode summary:after {
    content: url(/assets/detail-marker-white.svg);
}

body.dark-mode pre {
    font-family: monospace, monospace;
    background-color: #000000;
    border: 1px solid white;
    padding: 0.4em;
    border-radius: 0.3em;
}

body.dark-mode .content p>code {
    background-color: #000000;
    border: 1px solid white;
    padding: 0.1em 0.2em 0.2em 0.3em;
    border-radius: 0.3em;
    font-size: 0.9rem;
}

body.dark-mode footer {
    border-top: 1px solid white;
}

body.dark-mode #nouvelleau {
    background: radial-gradient(circle, rgba(0, 255, 59, 1) 0%, rgb(0, 0, 0) 83%);
    border-color: white;
}

body.dark-mode .nav-next,
body.dark-mode .nav-prev {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 1.79;
    font-size: 2rem;
    position: fixed;
    border: 1px solid rgb(255, 255, 255);
}

body.dark-mode .dot {
    border: 1.5px solid rgb(255, 255, 255);
}

body.dark-mode #font-sentence {
    font-size: 90pt;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
    line-height: 1em;
}

body.dark-mode .dot.active,
body.dark-mode .dot:hover {
    background: white;
}

body.dark-mode .font-images {
    border-top: 1px solid rgb(255, 255, 255);
}

body.dark-mode .image-surround {
    outline: 1px white solid;
}

body.dark-mode #font-body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgba(16, 255, 0, 1) 100%);
}

body.dark-mode #font-sentence {
    border-bottom: 1px solid white;
}

body.dark-mode .font-text {
    border-left: 1px solid white;
}

body.dark-mode .nav-next img,
body.dark-mode .nav-prev img{
    filter: invert();
}


body.dark-mode #nuage{
    filter: invert(1) !important;
}
body.dark-mode #hello svg{
    filter: invert(1) !important;
}
body.dark-mode button.arrow{
    filter: invert(1);
}

/* FIN DARK-MODE */

main {
    margin-top: 50px;
}

#home-screen{
    display: none;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 2000;
}

@font-face {
    font-family: "dindong";
    src: url(../fonts/DINdong.woff);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    font-weight: normal;
    margin-top: 0px;
}

a {
    text-decoration: none;
}

a:not(li a, .fonte-home, .nav-prev, .nav-next) {
    color: black;
    text-decoration: underline black 0.06em;
    text-underline-offset: 0.13em;
}

a:not(li a, .fonte-home, .nav-prev, .nav-next):hover {
    color: #f700ff;
    text-decoration: underline #f700ff 0.06em !important;
    text-underline-offset: 0.13em;
}

#bas {
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: black;
    height: fit-content;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
    font-family: 'dindong';
}

#menu-bas {
    position: sticky;
    bottom: 0;
}

#menu-bas li p {
    color: white;
    cursor: pointer;
}

.fenetretelecharger-cache {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "dindong";
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.visible {
    display: flex;
}

.fenetretelecharger {
    width: 43rem;
    max-height: 80vh;
    overflow-y: scroll;
    background-color: white;
    opacity: 1;
    color: black;
}

.fenetretelecharger div {
    padding: 1.3rem 2rem 0.5rem 2rem;
}

.fenetretelecharger h3 {
    font-size: 3rem;
}

.fenetretelecharger p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.fenetretelecharger p a,
.fenetretelecharger label a {
    color: black;
}

#bouton-fermer {
    background-color: black;
    color: white;
    padding: 0.5rem 0.8rem;
    float: right;
    border: 1px solid white;
    font-size: 2rem;
}

#bouton-telecharger {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    border: 1px solid white;
    display: block;
    margin-top: 2.5rem;
}

#bouton-telecharger a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    background-color: grey;
    width: 100% !important;
    font-size: 1.5rem;
    display: block;
    pointer-events: none;
    user-select: none;
}

#bouton-fermer:hover {
    background-color: #9000ff;
}

#lu {
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 2rem;
}

#label-lu {
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
    margin-right: 2rem !important;
    box-sizing: border-box;
}

#lu[type=checkbox]:checked~#bouton-telecharger a {
    background-color: black;
    pointer-events: all;
}

#lu[type=checkbox]:checked~#bouton-telecharger a:hover {
    background-color: #9000ff;
    text-decoration: none !important;
}

.nav-next,
.nav-prev {
    pointer-events: all;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    position: fixed;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-next img,
.nav-prev img{
    height: 20px;
}

.nav-next img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.nav-next a,
.nav-prev a {
    display: block;
    height: fit-content;
    width: 100%;
    text-decoration: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: inherit;
    display: flex;
    justify-content: center;
}

.nav-next:hover,
.nav-prev:hover {
    background-color: #f700ff;
    color: white;
    border-color: white;
}
.nav-next:hover img,
.nav-prev:hover img {
    filter: invert(1);
}


.nav-prev {
    top: 45%;
    left: 20px;
}

.nav-next {
    top: 45%;
    right: 20px;
}


a.dark-mode {
    color: white;
}

img {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Content Styling */

header {
    width: 100vw;
    background-color: black;
    font-family: "dindong";
    top: 0;
    position: fixed;
    z-index: 1000;
}

header a {
    color: #fff;
    text-decoration: none
}

.dark-mode-buttons img {
    margin: 0px;
}

#nuage-nav {
    z-index: 10;
    position: fixed;
    left: 0;
    padding: 1em;
    display: none;
}

#nuage{
    margin: 0;
    height: 110%;
}

#nuage-texte {
    max-width: 45ch;
    position: absolute;
    font-size: 2rem;
    margin-right: 110px;
}

#nuage-texte p+p{
    margin-top: 0.25em;
}

#nuage-texte h1{
    font-size: 9rem;
    line-height: 0.9;
    margin-bottom: 40px;
}

#nuage-texte .arrow{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 1.9rem;
    position: fixed;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 770px;
    top: 45%;
    transition: left 0.5s ease-out, transform 0.5s ease-out;
}

#nuage-texte .arrow a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nuage-texte .arrow img{
    height: 1.5rem;
}


.arrow.translate{
    transform: translateX(250px) rotate(180deg);
}

#hello.translate{
    transform: translateX(-1000px);
}

#nuage-texte .arrow:hover{
    background-color: black;
    cursor: pointer;
}

#nuage-texte .arrow:hover img,
#nuage-texte .arrow:hover img {
    filter: invert(1);
}

.buttons {
    z-index: 10;
    position: fixed;
    right: 0;
    padding: 1em;
}

button {
    display: block;
    background: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 0px;
    position: relative;
    padding-block: 0px;
    padding-inline: 0px;
}

#language {
    display: none;
}

.buttons button:first-child {
    padding-bottom: 0.1em;
}

button p {
    position: absolute;
    top: 13px;
    left: 9px;
    color: white;
    font-size: 1.2rem;
}

.dark-mode-buttons {
    position: relative;
}

#toggle-light {
    position: absolute;
    top: 1.5px;
    right: -3.5px;
}

.footer {
    background-color: #eee;
}

/* Menu Settings */


.main-nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.main-nav li {
    grid-column: span 2;
    display: inline-block;
    letter-spacing: normal;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    height: 50px;
    flex: 1;
    font-size: 1.7rem;
    padding: 0.35em 0em;
}

.main-nav li:last-of-type {
    border-right: none;
}

.main-nav details {
    padding: 0;
    color: white;
    font-size: 1.5rem;
    border-bottom: none;
}

.main-nav details summary {
    padding: 0.6em;
    height: 55px;
}

.main-nav details summary p {
    margin: 0;
}

.nav_mobile {
    display: none;
}

.nav_mobile summary::after {
    content: url(/assets/hamburger.svg) !important;
    min-width: 35px;
    width: 35px;
}

.nav_mobile[open]>summary::after {
    content: url(/assets/close.svg);
    min-width: 20px;
    width: 20px;
    height: 24px;
}

.nav_mobile ul {
    flex-direction: column;
}

.nav_mobile ul li {
    border: none;
}

.nav_mobile ul li:first-of-type {
    border-top: 1px solid white;
}

.nav_mobile ul li+li {
    border-top: 1px solid white;
}

li+li {
    border-left: none !important;
}

.main-nav ul li a {
    position: relative;
    display: block;
    color: #fff;
    white-space: nowrap;
}

.main-nav>ul>li>a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover {
    background-color: #9000ff;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected {
    background-color: #9000ff;
}

#hello {
   width: 850px;
    height: 100vh;
    position: fixed;
    margin-top: -50px;
    display: flex;
    justify-content: end;
    z-index: 1002;
    align-items: center;
    transition: width 0.5s ease-out, transform 0.5s ease-out;
}

.animated {
    animation-name: translate;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    transform: translateX(-1000px);
    opacity: 0;
}

@keyframes translate {
    0%{
       transform: translateX(-1000px);
       opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

#hello img{
    margin: 0;
    height: 110%;
}

.hidden {
    display: none;
}

#hello circle:hover {
    fill: black;
    stroke: white;
    cursor: pointer;
}

#hello circle:hover~line {
    stroke: white;
    cursor: pointer;
}

#bouton-nuage {
    height: 15%;
    position: absolute;
    margin-top: 50px;
    margin-left: 35%;
}

#container-bulle {
    height: calc(100vh - 4em);
    width: 700px;
    display: flex;
    justify-content: center;
    position: relative;
}

.slideshow {
    height: calc(100vh - 50px);
    width: 100vw;
    position: relative;
    overflow: hidden;
    filter: blur(0px) contrast(1.1);
}

.bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#mots-content {
    display: flex;
    color: white;
    font-size: 12rem;
    align-items: center;
    justify-items: center;
    pointer-events: none;
}

#mots-content ul {
    display: flex;
    list-style: none;
    position: relative;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    margin-left: -20px;
}

#mots-content li {
    width: fit-content;
    position: absolute;
}

#mots-content li {
    opacity: 0;
}

#mots-content li.current-slide {
    opacity: 1;
}

#filter {
    transform: translateZ(0);
    pointer-events: none;
}

#bg1,
#bg2,
#bg3,
#bg3 {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    mix-blend-mode: lighten;
    filter: blur(120px);
}

#bg1 {
    background: radial-gradient(circle, #d000ff, #7b00ff);
    left: 200px;
    animation-name: bgMove;
    animation-duration: 40s;
}

#bg2 {
    background: radial-gradient(circle, #7b00ff, #ffffff);
    left: 0px;
    top: 100px;
    animation-name: bgMove2;
    animation-duration: 50s;
}

#bg3 {
    background: radial-gradient(circle, #7b0fff, #ff00e6);
    animation-name: bgMove3;
    animation-duration: 30s;
}

#bg4 {
    background: linear-gradient(180deg, #f12eff, #00ff59);
}

#bg-interactif {
    background: radial-gradient(circle, rgba(0, 255, 59, 1) 0%, rgba(255, 255, 255, 0) 53%);
}


@keyframes bgMove {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(100%, 100%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes bgMove2 {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(50%, 50%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes bgMove3 {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-70%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes bgMove4 {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


.fontes-liste {
    overflow-x: hidden;
}

.fonte-info {
    display: grid;
    width: 100vw;
    grid-template-columns: 3fr 3fr 1fr;
    padding: 0.6em 20px;
    font-family: 'dindong';
    font-size: 1.1rem;
    border-top: 1px solid black;
    -webkit-box-shadow: 0px 6px 13px 0px rgba(240, 70, 240, 1);
    -moz-box-shadow: 0px 6px 13px 0px rgba(240, 70, 240, 1);
    box-shadow: 0px 6px 13px 0px rgba(240, 70, 240, 1);
    background: radial-gradient(circle, rgba(0, 255, 59, 1) 0%, rgba(255, 255, 255, 0) 53%);
}

.fonte-info p+p {
    margin-left: 0.7em;
    text-wrap: balance;
}

.fonte-texte {
    border-top: 1px solid black;
    padding: 20px 20px 25px 20px;
    font-size: 6rem;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 160px;
}

.fonte-texte>* {
    animation: scroll linear infinite;
    animation-duration: var(--animation-duration);
    animation-play-state: paused;
    /* transition: 10s; */
}

.fonte-texte:hover>* {
    animation-play-state: running;
}

.fonte-texte p {
    line-height: 1;
    margin: 0;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 20px));
    }
}

.weights-mobile {
    display: none;
}

#license {
    text-align: right;
}

.fonte-info p {
    margin: 0;
}


.fonte-info p:last-child {
    text-align: end;
}

.fonte-version::after {
    content: ", ";
}

.fonte-version:last-of-type:after {
    content: none;
}

footer {
    background-color: black;
    padding: 1em;
    color: white;
    font-family: "dindong";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer p{
    margin-bottom: 1rem;
}

footer .footer-underline{
    margin-bottom: 0.2rem;
}

footer a {
    color: white;
}

.footer-block {
    width: 30vw;
}

.footer-underline {
    text-decoration: underline;
}

.footer-space {
    margin-top: 1.5em;
}

#font-body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 10%, rgba(16, 255, 0, 1) 100%);
    width: 100vw;
}

#font-body .font-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr max-content;
    padding: 1em 80px 0 1em;
    justify-content: space-between;
    font-family: 'dindong';
    font-size: 1.2rem;
    line-height: 1.2;
}

.font-info>* {
    padding: 0 5px;
    height: fit-content;
}

.nowrap{
    white-space: nowrap !important;
}

select {
    border: none;
    background-color: transparent;
    width: 150px;
    width: fit-content;
}

.font-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#font-sentence {
    font-size: 90pt;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding: 40px 20px;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 1em;
}

.font-text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 4rem;
    font-size: 1.2rem;
    border-left: 1px solid black;
}

.font-images {
    border-top: 1px solid black;
    padding: 3rem 4rem 4rem 4rem;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    font-family: "dindong";
}

.font-images h3 {
    font-size: 3rem;
    margin-bottom: 0.7em !important;
}

.font-images section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-gap: 2rem;
}

.font-in-use {
    list-style-type: none;
}

.slidecontainer {
    display: flex;
    align-items: center;
}

.slidecontainer input {
    margin-right: 10px;
}

.image-surround img {
    width: 100%;
    margin: 0;
}

.image-info h2 {
    line-height: 1;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
}



.glyphs {
    display: none;
    text-align: center;
    font-size: 200px;
}

/* Slideshow container */
#glyphs_slideshow {
    position: relative;
    margin: auto;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding: 0px 0px 50px 0px;
}

#glyphs_slideshow ul {
    padding: 0;
    margin-bottom: 20px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: black;
}

#navigation {
    position: fixed;
    height: 100vh;
    width: 100vw;
    font-family: 'dindong';
    font-size: 5rem;
    z-index: 200;
    top: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
}

#navigation li.active {
    color: red;
}


/* texte page styling (quni, licences...) */

.texte-page {
    min-height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
}

.texte-page p,
.texte-page ul {
    font-size: 1.4rem;
}

kbd,
pre,
samp,
code {
    font-size: 1rem;
}

kbd,
pre,
samp {
    font-family: monospace, monospace;
    background-color: #fceeff;
    padding: 0.4em;
    border-radius: 0.3em;
}

.content ul {
    padding: 0.4em;
    padding-left: 1.2em;
    border-radius: 0.3em;
    position: relative;
}

.content ul li {
    list-style: none;
    line-height: 1.15em;
}

.content ul li+li {
    margin-top: 0.2em;
}

.content ul li::before {
    position: absolute;
    content: "*";
    font-size: 2em;
    line-height: 0em;
    display: inline-block;
    transform: translateY(0.45em) translateX(-0.45em);
}

.content p>code {
    background-color: #fceeff;
    padding: 0.1em 0.3em 0.2em 0.3em;
}

details {
    border-top: 1px solid black;
    padding: 1em 0em;
}

.texte-page details:last-of-type {
    margin-bottom: 1em;
}

details+h2 {
    margin-bottom: 0px;
}

details+details,
details:last-of-type {
    border-bottom: 1px solid black;
}

details:last-of-type[open] {
    border-bottom: none;
}

details iframe{
    width: 49%;
    height: 20rem;
}

#sommaire-nav {
    background: linear-gradient(to right, #ffffff, rgba(0, 255, 59, 1));
    width: 450px;
}

#sommaire-nav ul {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
}

#sommaire-nav ul ul {
    background: none;
    font-size: 1.2rem;
}

#sommaire-nav ul ul li {
    border-bottom: none;
    padding: 0.2em 0em 0em 1.5em;
}

#sommaire-nav ul ul li::before {
    content: "*";
    font-size: 2.5em;
    line-height: 0em;
    display: inline-block;
    transform: translateY(0.35em);
    margin-right: 3px;
}

#sommaire-nav li {
    list-style: none;
    border-bottom: 1px solid black;
    padding: 1em;
    margin: 0px;
}

#sommaire-nav li:last-of-type {
    border-bottom: none;
}

#sommaire-content {
    position: sticky;
    top: 50px;
}

.progress {
    color: #a42eff;
    -webkit-text-stroke: 0.5px #a42eff;
}

.progress a{
    color: #a52eff;
}

.content {
    flex: 1;
    padding: 0.5em 2em 0.5em 2em;
}

.anchor {
    scroll-margin-top: 120px;
}

.texte-page details{
     scroll-margin-top: 120px;
}

.texte-page img {
    max-width: 100%;
}

.texte-page #logos p {
    display: flex;
    /* justify-content: space-around; */
}

.texte-page #logos p img {
    height: 150px;
    margin-right: 50px;
}

.texte-page h1,
h3,
h4,
h5 {
    margin-bottom: 0.4em !important;
}

.texte-page h5 {
    margin-top: 1em !important;
    font-weight: bold;
}

.texte-page p,
ul {
    margin-bottom: 0.8em;
}

.texte-page ul li a {
    text-decoration: underline;
}

.texte-page ul li a:hover {
    color: rgba(240, 70, 240, 1);
}

.texte-page #sommaire-content ul li a {
    text-decoration: none;
}

summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

details summary {
    list-style: none;
    cursor: pointer;
}

summary::marker {
    content: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary h2 {
    margin: 0px;
    min-width: 17ch;
    text-wrap: balance;
}

details[open] summary h2 {
    margin-bottom: 0.5em;
}

summary:after {
    content: url(/assets/detail-marker.svg);
    display: inline-block;
    min-width: 20px;
    width: 20px;
    margin-left: 15px;
}

details:not(.nav_mobile)[open] summary:after {
    transform: rotate(90deg) translateX(-10px);
    margin-right: 10px;
}

.texte-page h1 {
    font-size: 4rem;
    line-height: 0.7;
    margin-top: 0.25em;
}

.texte-page h2 {
    font-size: 2.7rem;
}

.texte-page h3 {
    font-size: 2.3rem;
    margin-top: 0.8em;
}

.texte-page h4 {
    font-size: 1.9rem;
    margin-top: 0.9em;
    margin-bottom: -0.1em;
}

.texte-page h5 {
    font-size: 1.6rem;
}

video{
    width: 49%;
}

#nouvelleau {
    border: 1px solid black;
    position: absolute;
    right: 50px;
    z-index: 100;
    font-size: 1rem;
    padding: 20px;
    transform: rotate(-30deg);
    -webkit-box-shadow: 0px 6px 13px 0px rgba(240, 70, 240, 1);
    -moz-box-shadow: 0px 6px 13px 0px rgba(240, 70, 240, 1);
    box-shadow: 0px 6px 13px 0px rgba(240, 70, 240, 1);
    background: radial-gradient(circle, rgba(0, 255, 59, 1) 0%, rgba(255, 255, 255, 1) 83%);
    animation: nouvelleau 1s alternate infinite;
}

@keyframes nouvelleau {
    from {
        transform: rotate(-10deg);
        font-size: 1.5rem;
    }

    to {
        transform: rotate(-50deg);
        font-size: 1.9rem;
    }

}

footer a {
    color: white !important;
    text-decoration: underline !important;
}

footer .footer-block {
    line-height: 1.3;
}


@media screen and (min-width: 1800px) {

    .fonte-texte {
        border-top: 1px solid black;
        font-size: 7.5rem;
        text-wrap: nowrap;
        display: flex;
        height: 200px;
    }

    .fonte-info {
        padding: 0.7em 20px;
        font-size: 1.3rem;
    }

    .font-text {
        font-size: 1.5rem;
    }

    #font-body .font-info {
        font-size: 1.5rem;
    }

    .main-nav li {
        font-size: 2rem;
    }

    .main-nav li {
        height: 60px;
    }

    main {
        margin-top: 60px;
    }

    #sommaire-nav ul,
    #sommaire-nav ul ul {
        font-size: 1.5rem;
    }

    #sommaire-nav {
        background: linear-gradient(to right, #ffffff, rgba(0, 255, 59, 1));
        width: 650px;
    }

    #hello {
        margin-top: -60px;
    }

    footer {
        font-size: 1.1rem;
    }

    #nuage-nav img {
        margin: 0;
        height: 60px;
    }

    #nuage-nav {
        padding: 1.3em;
    }
}

@media screen and (max-width: 1200px) {

    .arrow.translate{
        transform: translateX(120px) rotate(180deg);
    }
    
    #hello.translate{
        transform: translateX(-700px);
    }

    #nuage-texte {
        max-width: 45ch;
        position: absolute;
        font-size: 1.7rem;
        margin-right: 80px;
    }

    #nuage-texte .arrow{
        left: 600px;
        top: 45%;
    }

    details iframe{
        width: 100%;
        height: 15rem;
        margin-bottom: 0.5rem;
    }

    #hello{
        width: 700px;
    }

    video{
        width: 100%;
    }

    .font-content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #mots-content {
        font-size: 12rem;
    }

    #glyphs_slideshow {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

    .font-text {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
        border-left: none;
        border-top: 1px solid black;
    }

    body.dark-mode .font-text {
        border-top: 1px solid rgb(255, 255, 255);
    }

    body.dark-mode .font-text {
        border-left: none;
    }

    #font-sentence {
        font-size: 70pt;
    }

    .font-images {
        padding: 3rem 4rem 4rem 4rem;
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
    }
}

@media screen and (max-width: 1000px) {

    .fenetretelecharger {
        width: 100%;
        height: 70%;
        max-height: 100%;
    }

    .font-images section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        grid-gap: 2rem;
    }

    #nouvelleau {
        right: 30px;
    }

    .main-nav li {
        font-size: 1.4rem;
        padding: 0.55em 0em;
    }

    #mots-content {
        font-size: 9rem;
    }
}

@media screen and (max-width: 900px) {

    #font-body .font-info {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1.2em 1.2em;
    }

    #license {
        text-align: left;
    }

    #font-sentence {
        font-size: 50pt;
    }

    .glyphs {
        font-size: 150px;
    }
}

@media screen and (max-width: 800px) {

    #hello{
        width: 610px;
        margin-top: -100px;
    }

    #nuage-texte {
        font-size: 1.4rem;
        margin-right: 90px;
    }

    .arrow.translate{
        transform: translateX(210px) rotate(180deg);
    }
    
    #hello.translate{
        transform: translateX(-700px);
    }

    #nuage-texte h1 {
        font-size: 7.5rem;
    }

    #nuage-texte .arrow{
        left: 510px;
    }

    .main-nav li:nth-of-type(4) {
        border-right: none;
    }

    .weights-mobile {
        display: block;
    }

    .weights-desktop {
        display: none;
    }

    main {
        margin-top: 100px;
    }

    #mots-content {
        font-size: 7rem;
    }

    #mots-contents ul {
        padding-top: 0px;
    }

    .bg {
        height: calc(100vh - 100px);
    }

    .slideshow {
        height: calc(100vh - 100px);
    }

    #container-bulle {
        height: calc(100vh - 4em);
        width: 520px;
    }

    .main-nav ul {
        text-align: center;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .main-nav li:nth-of-type(1) {
        grid-column: span 3;
    }

    .main-nav li:nth-of-type(2) {
        grid-column: span 4;
    }

    .main-nav li:nth-of-type(3) {
        grid-column: span 5;
        grid-row-start: 2;
    }

    .main-nav li:nth-of-type(4) {
        grid-column: span 5;
        grid-row-start: 2;
    }

    .main-nav li:nth-of-type(5) {
        grid-column: span 3;
    }

    .texte-page {
        flex-direction: column;
    }

    #sommaire-nav {
        width: 100vw;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 650px) {
    
    .arrow.translate {
        top: 860px !important;
        left: 15px !important;
        position: fixed !important;
        transform: rotate(270deg) !important;
        transition: transform 0.5s ease-out;
    }

    #hello img{
        height: auto;
    }

    #nuage-texte .arrow{
        margin-left: 43%;
        top: 850px;
        height: 80px;
        width: 80px;
        font-size: 1.8rem;
        transform: rotate(90deg);
        transition: left 0.5s ease-out;
        position: static;
    }

    #hello.translate {
        transform: translateY(-850px);
    }

    #hello {
        height: 60vh;
        width: 110vw;
        margin-left: -5vw;
        margin-top: 0px;
        flex-direction: column;
        justify-content: start;
    }

    @keyframes translate {
        0%{
           transform: translateY(-1000px);
           opacity: 1;
        }
        100%{
            transform: translateY(0px);
            opacity: 1;
        }
    }

    #nuage-texte{
        margin-right: 0px;
        max-width: 50ch;
        padding: 20px;
    }

    #hello svg{
        display: none;
    }

    #nuage{
        transform: rotate(90deg);
    }

    #mots-content {
        font-size: 6.5rem;
    }

    #mots-contents ul {
        padding-top: 0px;
    }

    #font-sentence {
        font-size: 45pt;
    }

    .glyphs {
        font-size: 125px;
    }

    #font-body .font-info {
        flex-wrap: wrap;
        column-gap: 20px;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: max-content 1.4em 1.4em;
        padding: 1em 80px 0 0.8em;
    }
}

@media screen and (max-width: 550px) {

    #nuage-texte{
        font-size: 1.2rem;
    }

    #nuage-texte h1{
        font-size: 6rem;
    }

    #nuage-texte {
        margin-right: 0px;
        max-width: auto;
        padding: 20px;
    }

    #bas{
        border-top: 0px;
    }

    #bas li{
        border-right: none !important;
        border-left: none !important;
    }

    #bas li:nth-of-type(1){
        border-top: none;
    }

    .buttons {
        padding: 1em 0.5em 1em 1em;
    }

    .nav-prev {
        left: 15px;
    }
    .nav-next {
        right: 15px;
    }

    .font-images section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        list-style: none;
        grid-gap: 2rem;
    }

    #font-body .font-info {
        grid-template-columns: 3fr 1fr;
        padding: 1em 80px 0 0.8em;
    }

    #name-author {
        grid-row-start: 1;
        grid-column: span 1;
        margin-bottom: 0.15em;
    }

    .font-info>* {
        padding: 0px;
    }

    #font_weights {
        grid-row-start: 2;
        grid-column: span 2;
        min-width: 50%;
        margin-left: -4px;
    }

    #license {
        grid-row-start: 1;
    }

    #license {
        text-align: right;
    }

    .slidecontainer {
        grid-column: span 2;
        grid-row-start: 3;
    }

    #nouvelleau {
        right: 10px;
        font-size: 1.3rem !important;
        padding: 15px;
    }

    .bg {
        height: 100vh;
    }

    #glyphs_slideshow {
        padding: 0px 0px 35px 0px;
    }

    .font-text,
    .font-images {
        padding: 2.5rem 3rem;
    }

    .font-images ul {
        flex-direction: column;
    }

    .font-in-use {
        width: 100%;
    }

    #container-bulle {
        height: calc(100vh - 4em);
        width: calc(100vw - 2em);
    }

    main {
        margin-top: 55px;
    }

    .main-nav ul {
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    #sommaire-nav {
        display: none;
    }

    summary:after {
        min-width: 12px;
        width: 12px;
        margin-left: 12px;
    }

    .nav_desktop {
        display: none !important;
    }

    .main-nav li {
        display: inline-block;
        letter-spacing: normal;
        height: 35px;
        flex: 1;
        font-size: 1.5rem;
        padding: 0.4em 0.5em;
    }

    .nav_mobile {
        display: flex;
    }

    .slideshow {
        height: 80vh;
        position: relative;
        overflow: hidden;
    }

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .fonte-info {
        font-size: 0.85rem;
    }

    .fonte-texte {
        border-top: 1px solid black;
        padding: 0.3em 10px;
        font-size: 4.5rem;
        text-wrap: nowrap;
        display: flex;
        height: fit-content;
    }

    #mots-content {
        display: flex;
        color: white;
        font-size: 5rem;
        align-items: center;
        justify-items: center;
        pointer-events: none;
    }

    footer {
        background-color: black;
        padding: 1em;
        color: white;
        font-family: "dindong";
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    footer>* {
        margin-top: 0.5em;
    }

    .footer-space {
        margin-top: 0.5rem;
    }

    .footer-underline {
        margin-bottom: 0.2rem;
    }

    .footer-block {
        width: calc(100vw - 2em);
    }

    .texte-page h2 {
        font-size: 1.6rem;
    }

    .texte-page h3 {
        font-size: 1.4rem;
    }

    .texte-page h4 {
        font-size: 1.2rem;
    }

    .texte-page p,
    .texte-page ul {
        font-size: 1.1rem;
    }

    .content {
        padding: 0.8em 1em;
        width: 100vw;
    }
}

@media screen and (max-width: 450px) {

    #hello img {
        height: 500px;
    }

    #hello {
        height: 500px;
        width: 100vw;
        margin-top: 0px;
        margin-left: 0;
        flex-direction: column;
        justify-content: start;
    }

    .slidecontainer {
        width: 100%;
    }

    input[type="range"] {
        flex: 1;
    }

    #slider_label{       
         min-width: 4rem;
        text-align: right;
    }

    #nuage-texte p{
        font-size: 1.1rem;
    }

    #nuage-texte h1{
        font-size: 5rem;
        margin-bottom: 20px;
    }

    #nuage-texte .arrow {
        margin-left: 37vw;
        margin-top: 40px;
    }

    .arrow.translate{
        top: 830px !important;
    }
}

@media screen and (max-width: 400px) {
    #hello.translate {
        transform: translateY(-950px);
    }

    #hello img {
        height: 100vh;
    }

    #hello{
        height: 100vh;
    }

    #nuage-texte .arrow {
        margin-left: 37%;
        margin-top: 70px;
    }

    .arrow.translate{
        top: 900px !important;
    }
}