:root{
    --base: aquamarine;
    --fondues: pink;
}

details{
    border-top: none;
    border-bottom: 1px solid black;
    padding: 0;
}

summary{
    font-family: "DINdong";
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
    padding: 1.2em;
}

summary:hover{
    background-color: #9000ff;
    color: white;
}

details[open] summary {
    background-color: #9000ff;
    color: white;
  }

summary::marker{
}

#txt-intro{
    margin: 3rem;
    font-size: 1.5rem;
}

.grid{
    font-size: 0.9rem;
    display: grid;
    grid-template-rows: repeat();
    border-top: none;
    margin: 3em;
    font-family: sans-serif;
    border: 1px solid black;
}

.ligne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 2fr;
    margin: 0;
    padding: 0;
    background-color:rgb(255, 242, 234);
}


.base p:nth-child(7n){
    font-family: "Baskervvol Base";
}

.fondue p:nth-child(7n){
    font-family: "Baskervvol Fondue";
    font-feature-settings: "liga" 1;
}

.cap p:nth-child(6n), .cap p:nth-child(7n){
    text-transform: uppercase;
}

.grid > div > p {
    padding: 8px 4px;
    border-left:  1px solid black;
    border-bottom:  1px solid black;
    padding: 10px;
    margin: 0;
    word-break: break-all;
}

.grid:last-child{
    border-bottom: none !important;
}

.entete{
    background-color: black !important;
    color: white;
    border-color: white !important;
    font-family: "DINdong" !important;
    font-size: 1.3rem;
}

.colonne-unicode{
    /* background-color: coral; */
    border-left: none !important;

}

.colonne-categorie{
    /* background-color: paleturquoise; */
    display: none;

}

.colonne-lettre{
    /* background-color: lime; */
    display: none;

}

.colonne-feature{
    font-family: monospace;
    /* background-color: yellow; */
}


.nb{
    /* background-color: red; */
}

.base{
    background-color: var(--base);
}

.fondue{
    background-color: var(--fondues);
}

.mots{
    /* background-color: blueviolet; */
}

.cap{
    /* color: red; */
}

.bdc{
    /* color: blue; */
}

input:hover, label:hover{
    cursor: pointer;
}

input{
    margin-left: 2.5em;
}

label{
    user-select: none;
    font-family: "DINdong";
    font-size: 1.3rem;
}

label[for=base]{
    background-color: var(--base);
    padding: 3px;
}

body.dark-mode label[for=base]{
    color: black;
}

label[for=fondues]{
    background-color:var(--fondues);
    padding: 3px;
}

body.dark-mode label[for=fondues]{
    color: black;
}

#base[type=checkbox]:not(:checked) ~ label ~ .grid .base { 
    opacity: 0;
    height: 0;
    display: none;
}

#fondues[type=checkbox]:not(:checked) ~ label ~ .grid .fondue { 
    opacity: 0;
    height: 0;
    display: none;
}

#caps[type=checkbox]:not(:checked) ~ label ~ .grid .cap { 
    opacity: 0;
    height: 0;
    display: none;
}

#bdc[type=checkbox]:not(:checked) ~ label ~ .grid .bdc { 
    opacity: 0;
    height: 0;
    display: none;
}

body.dark-mode .grid{
    border-color: white;
    color: black;
}


@media screen and (max-width: 850px){

    summary{
        font-size: 1.7rem;
        padding: 1em;
    }

    summary:hover{
        background-color: transparent;
    }

    input{
        margin-left: 0.6em;
    }

    label{
        width: 90vw !important;
        display: inline-block;
        padding: 0.3em;
    }

    .entete{
        display: none;
    }

    .grid{
        margin: 1em;
        border: none;
        font-size: 1rem;
    }

    .ligne{
        grid-template-columns: 1fr;
        margin-bottom: 1.2rem;
        border-top: 1px solid black;
        border-right: 1px solid black;
        width: 91.5vw;
    }

    .colonne-feature{
        font-size: 0.8rem;
    }
}