{% extends 'partials/base-fonte.html.twig' %}

{% set coll = page.collection({'items':{'@page':'/fontes'},'order': {'by': 'default', 'dir': 'asc'}}) %}


{% if page.header.font.versions and page.header.font.weights %}
    {% set fs = page.title ~ " " ~ page.header.font.versions[0] ~ " " ~ page.header.font.weights[0] %}
{% elseif page.header.font.versions and not page.header.font.weights %}
    {% set fs = page.title ~ " " ~ page.header.font.versions[0] %}
{% elseif page.header.font.weights and not page.header.font.versions %}
    {% set fs = page.title ~ " " ~ page.header.font.weights[0] %}
{% else %}
    {% set fs = page.title %}
{% endif %}

{% block content %}

<style>
	{% for w in page.header.fontsfiles %}
	{% set info = w.font|first %}
			@font-face {
				font-family: {{page.slug|e}}-{{w.style|e}};
				src: url({{ url(info.path) }})
			}
	{% endfor %}
</style>


<div spellcheck="false" id="font-body" onready="change_style()" style="font-family:'{{ page.slug }}">
    <div class="font-info">
        <div id="name-author"><span id="font-name">{{ page.title|e }}</span> – {{ page.header.font.author|e }}</div>
        {% if page.header.font.versions %}
            <select id="font_versions" onchange="get_wv()">
            {% for v in page.header.font.versions|e %}
                <option value="{{ v|e }}">{{ v|e }}</option>
            {% endfor %}
            </select>
        {% endif %}
        {% if page.header.fontsfiles %}
        <select id="font_weights" onchange="change_style()">
            {% for w in page.header.fontsfiles %}
						<option value="{{page.slug|e}}-{{w.style|e}}">{{ w.style|e }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <div class="slidecontainer">
            <input type="range" min="30" max="150" value="100" class="slider" id="font_size_slider" oninput="sliderChange(this.value)">
            <label for="font_size_slider" id="slider_label">100 pt</label>
        </div>
        <div id="license">{{ page.header.font.license|e }}</div>
    </div>
     <div id="navigation">
            {% if not coll.isFirst(page.path) %}
                <p class="nav-prev"><a href="{{ coll.nextSibling(page.path).url }}"> <img src="../../assets/arrow-01.svg"/> </a></p>
            {% endif %}

            {% if not coll.isLast(page.path) %}
                <p class="nav-next"><a href="{{ coll.prevSibling(page.path).url }}"><img src="../../assets/arrow-01.svg"/> </a></p>
            {% endif %}
            </div>
    <div class="font-content">
        <div id="font-sentence">
            <p style="visibility:hidden" contenteditable="true">{{ page.header.sentence|e }}</p>
        </div>
        <div id="glyphs_slideshow">
                <ul>
                    <li class="glyphs">i·e</li>
                    <li class="glyphs">é·e</li>
                    <li class="glyphs">u·e</li>
                    <li class="glyphs">x·se</li>
                    <li class="glyphs">f·ve</li>
                    <li class="glyphs">eur·se</li>
                    <li class="glyphs">eur·ice</li>
                    <li class="glyphs">t·e</li>
                    <li class="glyphs">a·e</li>
                    <li class="glyphs">a·o</li>
                    <li class="glyphs">d·e</li>
                    <li class="glyphs">g·ue</li>
                </ul>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>
                    <span class="dot" onclick="currentSlide(8)"></span>
                    <span class="dot" onclick="currentSlide(9)"></span>
                    <span class="dot" onclick="currentSlide(10)"></span> 
                    <span class="dot" onclick="currentSlide(11)"></span> 
                    <span class="dot" onclick="currentSlide(12)"></span> 
                </div>
            </div>
        <div class="font-text">
                {{ page.content|raw }}
        </div>

        <div class="font-images">
            <h3>{{ 'ULTIMATE_BBB.FONTS.FONT_IN_USE' | t | e }}</h3>
            <section>
            {% for image in page.media.images %}
            <div class="font-in-use">
                <div class="image-surround">
                    <a href="{{ image.meta.link }}" target="_blank">{{ image.cropResize(1200,800).html|raw }}</a>
                </div>
                <div class="image-info">
                    <h2>{{ image.meta.title }}</h2>
                    <p>{{ image.meta.caption }}</p>
                </div>
            </div>
            {% endfor %}
            </section>
        </div>


        
        
    </div>

    <nav class="main-nav" id="menu-bas">
    <ul class="main-nav" id="bas">
            <li class="">
                <a href="{{ page.header.font.website|e }}" target="_blank">
                    Auteur·ice·s
                 </a>
            </li>
            <li>
                <a href="{{ page.header.font.fontspecimen|e }}" target="_blank">
                    Spécimen
                </a>
            </li>
            <li>
                <a href="{{ page.header.font.link|e }}" target="_blank">
                    Git
                </a>
            </li>
            <li>
                <p id="telecharger">
                    Télécharger
                </p>
            </li>
    </ul>
    </nav>

    <div class="fenetretelecharger-cache">
        <div class="fenetretelecharger">
            <button id="bouton-fermer">X</button>
            <div>
                <h3>Attention</h3>
                <p>
                    Les fontes distribuées ici ont été dessinées par et pour des personnes qui sont solidaires des luttes contre le cis-hétéro-patriarcat, la suprématie blanche, le validisme et le capitalisme. L'utilisation de fontes post-binaires ne saurait évidemment pas se substituer à la mise en place d'autres actions de militance contre ces systèmes d'oppression.
                </p>

                <p>
                    Les <a href="../licences" target="_blank">conditions d'utilisation des fontes</a> englobent la question de l'économie vertueuse de la recherche et l'adoption d'une position féministe matérialiste. Recevoir des dons permet de créer les conditions matérielles d'existence pour les chercheur·ses actif·ves dans le champ de la typographie post-binaire. En effet, un soutien financier rend possible la participation de personnes ne pouvant pas se permettre du travail non-rémunéré, encourage les dessinateur·ices à publier plus, et ouvre à une plus grande variété esthétique et politique. Ce domaine de recherche est précaire, il existe sur un fil grâce à quelques subventions et commandes ponctuelles. Intégrer <a href="../licences#repartage" target="_blank">une échelle de donations</a> aux conditions d'utilisation des fontes permet d'insister sur les besoins concrets aux différents endroits de l'écosystème.
                </p>

                <p>
                    Les dons sont à faire sur notre <a href="https://www.paypal.com/paypalme/byebyebinary" target="_blank">compte Paypal</a>. Pensez à bien sélectionner «Paiement entre proches» sinon PayPal prendra une commission sur votre don. Si vous avez besoin d'une pièce comptable, envoyez-nous un mail à <a href="mailto:touls@byebyebinary.space" target="_blank">touls@byebyebinary.space</a>.
                </p>

            </div>

                <input type="checkbox" id="lu">
                <label id="label-lu" for="lu">Je confirme avoir pris connaissance des <a href="../licences" target="_blank">conditions d’utilisation des fontes</a>.</label>

            <p id="bouton-telecharger">
                <a href="{{ page.header.font.download|e }}">Télécharger les fontes</a>
            </p>
        </div>
    </div>

</div>

<script>
    $(function(){

    $("#telecharger").click(function(){
    $(".fenetretelecharger-cache").toggleClass("visible");
    });

    $("#bouton-fermer").click(function(){
    $(".fenetretelecharger-cache").toggleClass("visible");
    });


    });
</script>

{% do assets.addJs('theme://js/fonte.js', {loading: 'async', id: 'custom-css'}) %}

{% endblock %}
