{% extends 'partials/base-gradient.html.twig' %}

{% block content %}
    <div id="hello">
      <svg id="Calque_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 867.47 928.61">
            <defs>
                <style>.cls-1{stroke:#020203;}.cls-1,.cls-2{fill:#fff;stroke-miterlimit:10;stroke-width:2px;}.cls-2{stroke:#000;}</style>
            </defs>
            <g>
                <path class="cls-2" d="M866.47,359.43c0-150.3-121.84-272.14-272.14-272.14-56.49,0-108.96,17.21-152.46,46.68C414.02,56.44,339.86,1,252.74,1,141.78,1,51.83,90.95,51.83,201.91c0,55.37,22.4,105.52,58.64,141.86C44.02,393.39,1,472.65,1,561.96c0,150.3,121.84,272.14,272.14,272.14,15.85,0,31.37-1.36,46.48-3.96,49.92,59.58,124.88,97.47,208.69,97.47,150.3,0,272.14-121.84,272.14-272.14,0-34.89-6.57-68.24-18.53-98.89,52.08-49.57,84.55-119.57,84.55-197.15Z"/>
            <g>
                <path d="M140.25,181.8l.08,44.35,79.64-.24-.08-44.11h10.65l.24,100.39h-10.65l-.08-45.62-79.64,.24,.08,45.38h-10.65l-.24-100.39h10.65Z"/>
                <path d="M355.02,181.88v10.65h-90.77l.08,33.62,75.75-.24v10.65l-75.67,.24,.08,34.73h90.69v10.65h-101.34l-.24-100.31h101.42Z"/>
                <path d="M373.62,282.03l.24-100.15h10.65l-.24,89.66h89.82v10.65h-100.39v-.16h-.08Z"/>
                <path d="M489.19,282.03l.24-100.15h10.65l-.24,89.66h89.82v10.65h-100.39v-.16h-.08Z"/>
                <path d="M617.08,279.25c-6.44-2.46-12.08-5.88-16.85-10.17-4.77-4.29-8.58-9.54-11.52-15.74-2.94-6.2-4.53-12.88-4.77-20.11v-1.19c0-3.42,.4-6.84,1.27-10.33,.87-3.42,2.07-6.84,3.74-10.09,1.59-3.26,3.5-6.44,5.8-9.46,4.53-6.04,10.73-11.13,17.65-14.71,3.42-1.83,7.23-3.26,11.37-4.29,4.05-1.03,8.27-1.59,12.56-1.59h1.11c7.07,0,13.83,1.27,20.27,3.82,6.44,2.46,12,5.88,16.77,10.25,4.69,4.37,8.5,9.62,11.45,15.82,2.94,6.12,4.61,12.72,4.93,19.79h.08v1.99h-.08c-.32,7.07-1.99,13.67-4.93,19.87-2.94,6.12-6.76,11.37-11.45,15.74-4.77,4.37-10.33,7.79-16.77,10.33-6.44,2.46-13.19,3.74-20.27,3.74s-13.91-1.19-20.35-3.66Zm-18.52-30.6c2.31,5.01,5.33,9.3,9.06,12.72,3.82,3.42,8.27,6.12,13.35,8.11,5.17,1.91,10.57,2.86,16.37,2.86s11.21-.95,16.37-2.86c5.17-1.91,9.62-4.53,13.43-7.95,3.89-3.42,6.92-7.71,9.22-12.72,2.3-5.09,3.58-10.57,3.66-16.53-.08-5.96-1.35-11.53-3.66-16.53-2.3-5.09-5.33-9.3-9.22-12.72-3.82-3.42-8.27-6.12-13.43-8.03-5.17-1.91-10.57-2.86-16.37-2.86s-11.21,.95-16.37,2.94c-5.09,1.91-9.54,4.61-13.35,8.03-3.74,3.42-6.76,7.71-9.06,12.72-2.23,5.01-3.42,10.49-3.58,16.45,.16,5.88,1.35,11.37,3.58,16.37Z"/>
                <path d="M211.87,330.74v-10.57h101.26v10.57h-45.94l-.24,89.82h-10.65l.24-89.82h-44.67Z"/>
                <path d="M353.91,417.62c-6.44-2.46-12.08-5.88-16.85-10.17-4.77-4.29-8.58-9.54-11.52-15.74-2.94-6.2-4.53-12.88-4.77-20.11v-1.19c0-3.42,.4-6.84,1.27-10.33,.87-3.42,2.07-6.84,3.74-10.09,1.59-3.26,3.5-6.44,5.8-9.46,4.53-6.04,10.73-11.13,17.65-14.71,3.42-1.83,7.23-3.26,11.37-4.29,4.05-1.03,8.27-1.59,12.56-1.59h1.11c7.07,0,13.83,1.27,20.27,3.82,6.44,2.46,12,5.88,16.77,10.25,4.69,4.37,8.5,9.62,11.45,15.82,2.94,6.12,4.61,12.72,4.93,19.79h.08v1.99h-.08c-.32,7.07-1.99,13.67-4.93,19.87-2.94,6.12-6.76,11.37-11.45,15.74-4.77,4.37-10.33,7.79-16.77,10.33-6.44,2.46-13.19,3.74-20.27,3.74s-13.91-1.19-20.35-3.66Zm-18.52-30.6c2.31,5.01,5.33,9.3,9.06,12.72,3.82,3.42,8.27,6.12,13.35,8.11,5.17,1.91,10.57,2.86,16.37,2.86s11.21-.95,16.37-2.86c5.17-1.91,9.62-4.53,13.43-7.95,3.89-3.42,6.92-7.71,9.22-12.72,2.3-5.09,3.58-10.57,3.66-16.53-.08-5.96-1.35-11.53-3.66-16.53-2.3-5.09-5.33-9.3-9.22-12.72-3.82-3.42-8.27-6.12-13.43-8.03-5.17-1.91-10.57-2.86-16.37-2.86s-11.21,.95-16.37,2.94c-5.09,1.91-9.54,4.61-13.35,8.03-3.74,3.42-6.76,7.71-9.06,12.72-2.23,5.01-3.42,10.49-3.58,16.45,.16,5.88,1.35,11.37,3.58,16.37Z"/>
                <path d="M473.22,417.22c-6.44-2.7-12.08-6.6-16.93-11.76-9.62-10.09-14.47-22.57-14.55-37.44v-47.77h10.65v47.77c-.08,5.33,.95,10.65,3.1,15.98,2.07,5.17,4.85,9.7,8.35,13.59,3.5,3.89,7.63,6.99,12.4,9.22,4.61,2.23,10.33,3.34,17.17,3.34,5.8,0,10.81-1.03,15.1-3.1,4.77-2.31,8.9-5.41,12.4-9.3,3.5-3.89,6.28-8.35,8.35-13.51,2.07-5.17,3.1-10.97,3.1-17.41v-46.58h10.65v48.09c-.08,14.55-4.93,27.02-14.55,37.36-9.62,10.41-21.3,15.58-35.05,15.58-6.99,0-13.75-1.35-20.19-4.05Z"/>
                <path d="M563.19,420.4l.24-100.15h10.65l-.24,89.66h89.82v10.65h-100.39v-.16h-.08Z"/>
                <path d="M693.23,419.76c-3.97-.64-7.39-1.43-10.17-2.38-2.78-1.03-5.33-2.23-7.63-3.66-2.3-1.35-4.13-2.78-5.56-4.13s-2.7-2.94-3.82-4.61c-1.03-1.67-1.83-3.1-2.38-4.29s-.95-2.46-1.27-3.81c-.32-1.35-.48-2.31-.56-2.86l-.08-1.59h11.84c.48,3.18,1.75,5.96,3.82,8.27,2.15,2.38,4.77,4.21,7.95,5.48,3.18,1.27,6.52,2.23,9.94,2.78,3.5,.56,7.15,.87,10.97,.79,4.77-.08,9.22-.64,13.35-1.75,4.21-1.11,7.79-2.86,10.73-5.17,3.02-2.3,4.85-5.09,5.56-8.19,.64-3.26,.48-6.04-.48-8.43-.95-2.46-2.38-4.29-4.29-5.64-1.91-1.35-4.37-2.38-7.39-3.1-2.94-.79-5.8-1.27-8.43-1.51-2.62-.24-5.48-.32-8.66-.32-6.99,0-13.19-.48-18.68-1.51-5.4-1.03-9.7-2.3-12.8-3.82-3.1-1.51-5.72-3.42-7.79-5.56-2.07-2.23-3.5-4.21-4.29-6.04s-1.27-3.74-1.51-5.88c-.16-2.15-.16-3.66-.08-4.53,.08-.87,.24-1.67,.4-2.46l.08-.16c.72-4.05,2.31-7.79,4.93-11.05,2.62-3.26,5.96-5.96,9.86-8.03,3.97-2.07,8.35-3.66,13.19-4.77,4.85-1.03,10.01-1.59,15.34-1.59,7.95,0,15.82,1.43,22.89,4.61,3.58,1.51,6.68,3.42,9.3,5.72,2.7,2.23,4.85,4.93,6.52,8.19,1.59,3.26,2.38,6.76,2.46,10.65h-11.29c-.48-2.94-1.43-5.48-2.86-7.71-1.43-2.23-3.1-3.97-5.01-5.25-1.91-1.27-4.21-2.31-6.84-3.1-5.17-1.59-9.78-2.07-15.5-2.07-9.46,0-17.72,1.27-23.84,4.61-1.99,1.11-3.74,2.54-5.25,4.29-1.43,1.75-2.38,3.74-2.78,5.96-1.35,6.44,.79,11.21,6.52,14.31,5.72,3.1,14.7,4.69,26.87,4.77,5.17,.08,9.86,.4,13.91,.95,4.13,.56,8.03,1.59,11.6,3.02,3.58,1.35,6.52,3.18,8.82,5.4,2.31,2.23,3.97,5.09,5.09,8.58,1.19,3.5,1.51,7.55,1.11,12.08-.32,3.18-1.19,6.12-2.7,8.74-1.43,2.62-3.26,4.85-5.56,6.68-2.31,1.83-4.77,3.42-7.47,4.77s-5.56,2.38-8.66,3.1c-3.02,.72-5.88,1.27-8.66,1.67-2.7,.32-5.33,.48-7.87,.48-4.61,0-8.9-.32-12.88-.95Z"/>
                <path d="M786.47,305.78v85.21h-10.65v-85.21h10.65Zm-10.57,100.94h10.65v13.83h-10.65v-13.83Z"/>
            </g>
            </g>
                <circle class="cls-1" cx="783.66" cy="150.98" r="78.16"/>
                <line class="cls-1" x1="746.45" y1="113.77" x2="820.87" y2="188.18"/>
                <line class="cls-1" x1="746.45" y1="188.18" x2="820.87" y2="113.77"/>
        </svg>
    </div>

    <div class="slideshow">
        <div class="bg" id="bg4"></div>
        <div class="bg" id="bg3"></div>
        <div class="bg" id="bg2"></div>
        <div class="bg" id="bg1"></div>
        {# <div class="bg" id="bg-interactif"></div> #}
        <div class="bg" id="filter"></div>
        {% include 'partials/mots.html.twig' %}
    </div>

{% endblock %}


