{% extends 'partials/base.html.twig' %}

{% block content %}
    <div id="hello">
     <svg style="height: 100%; flex: 1;">
        <rect width="100%" height="100%" fill="white" />
    </svg>
       <img id="nuage" src="../../../assets/nuage-seul.svg"/>
        <div id="nuage-texte">
            <h1>HELLO TOULS!</h1>
            {{ page.content|raw }}
            <button class="arrow"><img src="../../../assets/arrow-01.svg"/></button>
        </div>
    </div>

    <div class="slideshow">
        <div class="bg" id="bg4"></div>
        <div class="bg" id="bg3"></div>
        <div class="bg" id="bg2"></div>
        <div class="bg" id="bg1"></div>
        {# <div class="bg" id="bg-interactif"></div> #}
        <div class="bg" id="filter"></div>
        {% include 'partials/mots.html.twig' %}
    </div>

<div class="fontes-liste">
        {% for p in pages.find('/fontes').children.published|reverse if p != page %}


        <a href="{{ p.url|e }}" class="fonte-home">
            <div class="fonte-info">
                <p><span class="nowrap">{{ p.title|e }}</span> <span class="nowrap">— {{ p.header.font.author|e }}</span></p>
                <p class="weights-desktop">
                    {% for w in p.header.fontsfiles|slice(0, 4) %}
							<span class="fonte-weight">{{ w.style }}{% if loop.index != loop.length %},{% endif%}</span>
                    {% endfor %}
                    {% if p.header.fontsfiles|length > 4 %}
                        ...
                    {% endif %}
                </p>
                <p class="weights-mobile">
                    {% for w in p.header.fontsfiles|slice(0, 2) %}
                        <span class="fonte-weight">{{ w.style }}</span>
                    {% endfor %}
                    {% if p.header.fontsfiles|length > 2 %}
                        ...
                    {% endif %}
                </p>
                <p>{{ p.header.font.license|e }}</p>
            </div>
            {% if p.header.font.versions and p.header.font.weights %}
                {% set fs = p.title ~ " " ~ p.header.font.versions[0] ~ " " ~ p.header.font.weights[0] %}
            {% elseif p.header.font.versions and not p.header.font.weights %}
                {% set fs = p.title ~ " " ~ p.header.font.versions[0] %}
            {% elseif p.header.font.weights and not p.header.font.versions %}
                {% set fs = p.title ~ " " ~ p.header.font.weights[0] %}
            {% else %}
                {% set fs = p.title %}
            {% endif %}
            {% set today = 'now'|date('U') %}
            {% set peremption_date = p.header.publish_date|date_modify("+2 weeks")|date('U') %}
            {% if today < peremption_date %}
                <div id="nouvelleau">Nouvelle·au</div>
            {% endif %}
								<style>
						{% for w in p.header.fontsfiles %}
						{% set info = w.font|first %}
									@font-face {
										font-family: {{p.slug}};
										src: url({{ url(info.path) }})
									}
						{% endfor %}
								</style>
            <div class="fonte-texte" style="font-family:'{{ p.slug }}'">
                <p class="sentence"></p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}


